---
# Main SASS file
---
// import sass files
@import "colors.scss";

body {
  font: 16px/26px -apple-system, Helvetica, Helvetica Neue, Arial;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
  outline: 0;
  &:hover {
    color: $link-hover;
  }
}

.site-wrapper {
  position: relative;
  display: flex;
  padding: 2em 4em;
  align-items: center;
  height: 90vh;
  color: $black;
  font-size: 1em;
  line-height: 1.4;
}

.content {
	max-width: 50%;
}