---
# Main SASS file
---
// import sass files
@import "colors.scss";
@import "variables.scss";
@import "mixins.scss";

body {
  font: 16px/26px -apple-system, Helvetica, Helvetica Neue, Arial;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
  outline: 0;
  &:hover {
    color: $link-hover;
  }
}

.site-wrapper {
  position: relative;
  display: flex;
  color: $black;
  font-size: 1em;
  line-height: 1.4;
}

@media (min-width: 1px) and (max-width: #{$width-tablet}) {
  .site-wrapper {
    padding: 1em 2em;
    align-items: center;
    height: 90vh;
  }
}

@include responsive('min-width: #{$width-tablet}') {
  .site-wrapper {
    padding: 2em 4em;
    align-items: center;
    height: 90vh;
  }

  .content {
    max-width: 50%;
  }

}