---
title: Misinfodemia Podcast
layout: page
project: misinfodemia
---
{% assign project = site.data.projects[page.project] %}
{% include project-hero-image.html image_url = project.hero %}
{% include project-meta.html client = project.client toolkit = project.toolkit %}
{% include image-block-full-bleed.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/137TC26ncK4Y8gI0T7Li2q/7332bbf941807209822dc0a1a164004c/meedan_misinfodemia_09_with-by-b-1.png" %}
{% include block-grid-full.html full_1_image_url = "https://images.ctfassets.net/2orm8gd3ce6v/XkJM6QCflF3PmPulkENbB/d95eb8daea35c7f00dc7d0c58fed6bb7/meedan_misinfodemia_09_with-by-b.png" full_2_image_url = "https://images.ctfassets.net/2orm8gd3ce6v/3d946zRxivtYLa5puPJnnR/398b8d574b2b54858fc1076bdfdfc239/meedan_misinfodemia_09_with-by-b-2.png" %}
{% include image-block-full-bleed.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/3E5GzzzuxzkKouHExrOOUu/5ccd73979a387fd56c1373c4b35416ae/misinfodemia-podcast-city.jpg" %}
{% include image-block-full-bleed.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/7p7sBcm7d9ZwoGP9uLr60e/a14d98129bbb178df25a3c946b05820b/misinfodemia-podcast-phone-ep1.jpg" %}
{% include image-block-full-bleed.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/5legGA6wYPfD88QQUe1scS/c7db4316af88ea5ff8711e4bf9b8d56c/Misinfodemia_-_Documentation_-_9.png" %}
{% include block-image-centered.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/4j4geUipxYnO2M6cCUop6L/1688bffbc1ad31fa7f97c737694cd7bb/misinfodemia-landing-page.png" align = "bottom" image_class = "rounded-top" %}
{% include block-image-centered.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/7lz4lnIfyn9LU5YijRPgaW/31ca7e61b1ded5c9fcf2c56569af88b1/misinfodemia-ep-2.png" align = "bottom" image_class = "rounded-top" %}