{% assign reversed = include.reversed | default: 'false' %}
<section class="section">
    <div class="block-grid">
        <div class="block-image">
            <img src="{{ include.full_1_image_url }}" alt="" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, 44vw" srcset="{{ include.full_1_image_url }}?fl=progressive&q=90&w=500 500w, {{ include.full_1_image_url }} 645w" class="image">
        </div>
        <div class="block-image">
            <img src="{{ include.full_2_image_url }}" alt="" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 92vw, 44vw" srcset="{{ include.full_2_image_url }}?fl=progressive&q=90&w=500 500w, {{ include.full_2_image_url }} 645w" class="image">
        </div>
    </div>
    {% if include.credit %}<div class="credit">{{ include.credit }}</div>{% endif %}
</section>