---
title: Meedan – Health Desk
layout: page
project: healthdesk
---
{% assign project = site.data.projects[page.project] %}
{% include project-hero-image.html image_url = project.hero %}
{% include project-meta.html client = project.client toolkit = project.toolkit %}
{% include image-block-full-bleed.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/5T7gnpHKrGl5uJrIAiDxwc/0fce625561efde096f1577b7e9b89fd0/Health_Desk_-_Documentation_-_10.png" %}
{% include image-block-full-bleed.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/5EoRZJLW9ErkeBJWjtUBmu/42d1f17cd2d9f048d255c6df09a38060/Health_Desk_-_Documentation_-_9.png" %}
{% include block-grid-full-center.html full_image_url = "https://images.ctfassets.net/2orm8gd3ce6v/2fKCFGMj0jp526joi6JG3r/291057a93015e0a23aa098d79aa42688/health-desk-on-phone.jpg" center_image_url = "https://images.ctfassets.net/2orm8gd3ce6v/1ZONKtq1xp5fD0JCl2kCpD/274419aa44eb2432f98f1af6fdc456a4/health-desk-sourced.png" background = "#002B31" reversed = true %}
{% include block-image-centered.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/3fSsmQ9Cy8hynLpstV2hz8/a7777d705f6e19e3783c14fab0362ba5/Ask_a_question.png" %}
{% include image-block-full-bleed.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/6QaJBneEp0Ohno3O87u1SM/825eb40d13d2278d5a29dc3e7837d178/healthdesk-homepage-v2.jpg" %}
{% include block-image-centered.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/5R1Yyh3gF8QDGkxzP3onyj/e0ec53874db3c53dc99e392d9eebf023/Home_-_Header_Redesign_-_15.png" align = "bottom" image_class = "rounded-top" %}
{% include block-image-centered.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/1dQMhkMPmlxBIBPE5zPqRn/e13028cd4db03411a35e69096f6b8b2a/Entry.png" align = "bottom" image_class = "rounded-top" %}