---
title: Designbysoil – Work of Abdul Rehman Khawar
layout: page
---
{% include project-hero-image.html image_url = "https://images.ctfassets.net/2orm8gd3ce6v/2Z6eskwyJ5t9JDIA88ty4G/e0cdba808a7e8e1a365b8cd7c229b785/health-desk-hero.png" %}
{% include text-block.html heading = "Challenge" text = "Studio Sociaal Centraal is a unique and human-centered social design studio from the Netherlands. They service a wide range of organisations across the country. After three successful years of building a portfolio and growing the industry as a whole, they needed a brand that would represent their progression and position them as a trusted partner for future clients." %}
{% include project-meta.html client = "Qatar Foundation" toolkit = "UX, UI" %}
{%
   include image-block-full-bleed.html
 image_url = "https://images.ctfassets.net/2orm8gd3ce6v/7fngA0qvM0przWqmzYt5Ni/fb92930021408bf918fe3b90dfdf096a/Health_Desk_-_Documentation_-_7.jpg" %}
{%
   include image-block-full-bleed.html
 image_url = "https://images.ctfassets.net/2orm8gd3ce6v/1V00Y50pw3Q6wM0Yb95zbY/ffdb91ed645110e3138772f15f39f1c1/Health_Desk_-_Documentation_-_6.jpg" %}
{% include text-block.html heading = "Solution" text = "We hosted a series of workshops in close collaboration with Manon and Joes where we defined the strategic direction for the business. This helped us to define a clear proposition and supporting values to clarify Sociaal Centraal's role within the industry - as well as its positioning within the growing field of social design." %}
{%
   include block-grid-full-center.html
 full_image_url = "https://images.ctfassets.net/2orm8gd3ce6v/2fKCFGMj0jp526joi6JG3r/291057a93015e0a23aa098d79aa42688/health-desk-on-phone.jpg"
 center_image_url = "https://images.ctfassets.net/2orm8gd3ce6v/77dTJP08GKjembeo90i9Cc/b13626170f096fb763b003403b900ff3/health-desk-graph-papers-sourced.png" background = "#002B31" reversed = true %}