---
interface Props {
  toolkit: string;
}

const { toolkit } = Astro.props;
---

<section class="section">
  <div class="block-grid">
    <div class="project-meta">
      <h2>Toolkit</h2>
      <div>{toolkit}</div>
    </div>
  </div>
</section>
