---
import BaseLayout from '../../layouts/BaseLayout.astro';
import FooterGallery from '../../components/FooterGallery.astro';
import projects from '../../data/projects.yaml';
---

<BaseLayout title="Designbysoil – Information">
  <FooterGallery projects={[projects.qf, projects.healthdesk, projects.credcat, projects.misinfodemia]} />
  <section class="section">
    <div class="grid-list">
      <h2 class="title">Experience</h2>
      <div class="label">Years</div>
      <div class="label">Organisation</div>
      <div class="label">Role</div>
      <div>2018 –</div>
      <div>Meedan</div>
      <div>Lead Visual Designer</div>
      <div>2016 – 2018</div>
      <div>Qatar Foundation</div>
      <div>Digital Media Specialist</div>
      <div>2012 – 2016</div>
      <div>Meedan</div>
      <div>Frontend Developer</div>
      <div>2007 – 2013</div>
      <div>Adbusters Media Foundation</div>
      <div>Designer / Developer</div>
    </div>
  </section>
  <section class="section">
    <div class="grid-list">
      <h2 class="title">Education</h2>
      <div class="label">Years</div>
      <div class="label">School</div>
      <div class="label">Program</div>
      <div>2005.05 – 2006.04</div>
      <div>Vancouver Film School</div>
      <div>Digital Design<br>Best Visual Designer Award<br>+ Best Graphic Designer in a Supporting Role Award</div>
    </div>
  </section>
</BaseLayout>
