---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.scss';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{title}</title>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="alternate" type="application/rss+xml" title="Designbysoil" href="/feed.xml">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CZP9MB8BPY"></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-CZP9MB8BPY');
  </script>
</head>
<body>
  <a id="top"></a>
  <Header />
  <div class="page-wrapper">
    <slot />
  </div>
  <Footer />
</body>
</html>
